src/main/webapp/WEB-INF/wsdl/BankInformation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="BankInformation"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="urn:com:westbank:ws:business:BankInformation:2018:06"
	targetNamespace="urn:com:westbank:ws:business:BankInformation:2018:06">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:com:westbank:ws:business:BankInformation:2018:06"
			xmlns="urn:com:westbank:ws:business:BankInformation:2018:06"
			elementFormDefault="qualified">

     <xsd:element name="BankInformationRequest">
        <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="loanAmount" type="xsd:double" />
            <xsd:element name="loanTerm" type="xsd:int" />
            <xsd:element name="interestRate" type="xsd:double" />
            <xsd:element name="staffId" type="xsd:string" />
            <xsd:element name="staffRole" type="xsd:string" />            
           </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
      
     <!-- Monthly payment must less than 1/3 of the total income --> 
		 <xsd:element name="BankInformationResponse">
				<xsd:complexType>
					<xsd:sequence>
            <xsd:element name="monthlyPayment" type="xsd:double" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="BankInformationRequest">
		<wsdl:part element="tns:BankInformationRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="BankInformationResponse">
		<wsdl:part element="tns:BankInformationResponse" name="response" />
	</wsdl:message>

	<wsdl:portType name="BankInformation">
		<wsdl:operation name="retrieve">
			<wsdl:input message="tns:BankInformationRequest" />
			<wsdl:output message="tns:BankInformationResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="BankInformationSOAP" type="tns:BankInformation">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="retrieve">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="BankInformation">
		<wsdl:port name="BankInformationPort" binding="tns:BankInformationSOAP">
			<soap:address location="http://localhost:9999/portal/services/BankInformation" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
