src/main/webapp/WEB-INF/wsdl/CreditWorthiness.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CreditWorthiness"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:com:westbank:ws:business:CreditWorthiness:2018:06"
	targetNamespace="urn:com:westbank:ws:business:CreditWorthiness:2018:06">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:com:westbank:ws:business:CreditWorthiness:2018:06"
			xmlns="urn:com:westbank:ws:business:CreditWorthiness:2018:06"
			elementFormDefault="qualified">

			<xsd:element name="CreditWorthinessRequest">
				<xsd:complexType>
					<xsd:sequence>
            <xsd:element name="loanFileId" type="xsd:string" />
            <xsd:element name="numberOfIncidents" type="xsd:int"/>
            <xsd:element name="numberOfBanks" type="xsd:int"/>
            <xsd:element name="staffId" type="xsd:string" />
            <xsd:element name="staffRole" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="CreditWorthinessResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="creditWorthiness" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CreditWorthinessRequest">
		<wsdl:part element="tns:CreditWorthinessRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="CreditWorthinessResponse">
		<wsdl:part element="tns:CreditWorthinessResponse" name="response" />
	</wsdl:message>

	<wsdl:portType name="CreditWorthiness">
		<wsdl:operation name="check">
			<wsdl:input message="tns:CreditWorthinessRequest" />
			<wsdl:output message="tns:CreditWorthinessResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CreditWorthinessSOAP" type="tns:CreditWorthiness">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="check">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CreditWorthiness">
		<wsdl:port name="CreditWorthinessPort" binding="tns:CreditWorthinessSOAP">
			<soap:address location="http://localhost:9999/portal/services/CreditWorthiness" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>