src/main/webapp/WEB-INF/wsdl/LoanRisk.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LoanRisk"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:com:westbank:ws:business:LoanRisk:2018:06"
	targetNamespace="urn:com:westbank:ws:business:LoanRisk:2018:06">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:com:westbank:ws:business:LoanRisk:2018:06"
					xmlns="urn:com:westbank:ws:business:LoanRisk:2018:06"
					elementFormDefault="qualified">
						
			<xsd:element name="LoanRiskRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="loanFileId" type="xsd:string" />						
            <xsd:element name="staffId" type="xsd:string" />
            <xsd:element name="staffRole" type="xsd:string" />                       
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="LoanRiskResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="highRisk" type="xsd:boolean" />
            <xsd:element name="risk" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="LoanRiskRequest">
		<wsdl:part element="tns:LoanRiskRequest" name="request" />
	</wsdl:message>

	<wsdl:message name="LoanRiskResponse">
		<wsdl:part element="tns:LoanRiskResponse" name="response" />
	</wsdl:message>

	<wsdl:portType name="LoanRisk">
		<wsdl:operation name="evaluate">
			<wsdl:input message="tns:LoanRiskRequest" />
			<wsdl:output message="tns:LoanRiskResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="LoanRiskSOAP" type="tns:LoanRisk">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="evaluate">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="LoanRisk">
		<wsdl:port binding="tns:LoanRiskSOAP" name="LoanRiskPort">
			<soap:address location="http://localhost:9999/portal/services/LoanRisk" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>