src/main/webapp/WEB-INF/wsdl/LoanFile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LoanFile"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:tns="urn:com:westbank:ws:business:LoanFile:2018:06"
  targetNamespace="urn:com:westbank:ws:business:LoanFile:2018:06">

  <wsdl:types>
    <xsd:schema targetNamespace="urn:com:westbank:ws:business:LoanFile:2018:06"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns="urn:com:westbank:ws:business:LoanFile:2018:06"
      elementFormDefault="qualified">

      <xsd:element name="LoanFileRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="borrowerCustomerId" type="xsd:long" />
            <xsd:element name="borrowerTitle" type="xsd:string" />
            <xsd:element name="borrowerFirstName" type="xsd:string" />
            <xsd:element name="borrowerLastName" type="xsd:string" />
            <xsd:element name="borrowerPersonalId" type="xsd:string" />
            <xsd:element name="borrowerDateOfBirth" type="xsd:date" />
            <xsd:element name="borrowerStreet" type="xsd:string"   />
            <xsd:element name="borrowerCity" type="xsd:string"  />
            <xsd:element name="borrowerZipcode" type="xsd:string"  />
            <xsd:element name="borrowerState" type="xsd:string"  />
            <xsd:element name="borrowerCountry" type="xsd:string"  />
            <xsd:element name="borrowerPhone" type="xsd:string" />
            <xsd:element name="borrowerMobilePhone" type="xsd:string" />
            <xsd:element name="borrowerEmail" type="xsd:string" />
            <xsd:element name="borrowerOccupation" type="xsd:string" />
            <xsd:element name="borrowerLengthOfService" type="xsd:int" />
            <xsd:element name="borrowerIncome" type="xsd:double" />
            <xsd:element name="borrowerMaritalStatus" type="xsd:string"  />
            <xsd:element name="borrowerNumberOfChildren" type="xsd:int"  default="0" />
            <xsd:element name="coBorrower" type="xsd:boolean"  default="false" />
            <xsd:element name="coBorrowerCustomerId" type="xsd:long" />
            <xsd:element name="coBorrowerTitle" type="xsd:string" />
            <xsd:element name="coBorrowerFirstName" type="xsd:string"  />
            <xsd:element name="coBorrowerLastName" type="xsd:string" />
            <xsd:element name="coBorrowerDateOfBirth" type="xsd:date" />
            <xsd:element name="coBorrowerEmail" type="xsd:string" />
            <xsd:element name="coBorrowerPersonalId" type="xsd:string" />
            <xsd:element name="coBorrowerOccupation" type="xsd:string" />
            <xsd:element name="coBorrowerLengthOfService" type="xsd:int" />
            <xsd:element name="coBorrowerIncome" type="xsd:double" />

            <xsd:element name="loanFileId" type="xsd:string" />
            <xsd:element name="loanReason" type="xsd:string" />
            <xsd:element name="loanAmount" type="xsd:double" />
            <xsd:element name="loanTerm" type="xsd:int" />
            <xsd:element name="interestRate" type="xsd:double" />
            <xsd:element name="residenceType" type="xsd:string" />
            <xsd:element name="estateType" type="xsd:string" />
            <xsd:element name="estateLocation" type="xsd:string" />
            <xsd:element name="settlementDate" type="xsd:date" />
            <xsd:element name="totalPurchasePrice" type="xsd:double" />
            <xsd:element name="personalCapitalContribution" type="xsd:double" />
            <xsd:element name="staffId" type="xsd:string" />
            <xsd:element name="staffRole" type="xsd:string" />
            <xsd:element name="accessSensitiveData" type="xsd:boolean"  default="false" />
                                   
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="LoanFileResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="loanFileId" type="xsd:string" />
            <xsd:element name="borrowerId" type="xsd:long" />
            <xsd:element name="coborrowerId" type="xsd:long"  />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="LoanFileRequest">
    <wsdl:part element="tns:LoanFileRequest" name="request" />
  </wsdl:message>
  <wsdl:message name="LoanFileResponse">
    <wsdl:part element="tns:LoanFileResponse" name="response" />
  </wsdl:message>

  <wsdl:portType name="LoanFile">
    <wsdl:operation name="update">
      <wsdl:input message="tns:LoanFileRequest" />
      <wsdl:output message="tns:LoanFileResponse" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="LoanFileSOAP" type="tns:LoanFile">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="LoanFile">
    <wsdl:port binding="tns:LoanFileSOAP" name="LoanFilePort">
      <soap:address location="http://localhost:9999/portal/services/LoanFile" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>