src/main/webapp/WEB-INF/wsdl/LoanApproval.wsdl

<?xml version="1.0"?>
<ws:definitions name="LoanApproval"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ws="http://schemas.xmlsoap.org/wsdl/"
  xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" 
  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
  xmlns:tns="urn:com:westbank:ws:process:LoanApproval:2018:06"
  targetNamespace="urn:com:westbank:ws:process:LoanApproval:2018:06"

  xmlns:bankinformation="urn:com:westbank:ws:business:BankInformation:2018:06"
  xmlns:bankprivilege="urn:com:westbank:ws:business:BankPrivilege:2018:06"
  xmlns:callbackloanapproval="urn:com:westbank:ws:client:CallbackLoanApproval"
  xmlns:callbackloancontract="urn:com:westbank:ws:client:CallbackLoanContract"
  xmlns:creditworthiness="urn:com:westbank:ws:business:CreditWorthiness:2018:06"
  xmlns:loanapprovalclosing="urn:com:westbank:ws:business:LoanApprovalClosing:2018:06"
  xmlns:loansettlement="urn:com:westbank:ws:business:LoanSettlement:2018:06"
  xmlns:loanfile="urn:com:westbank:ws:business:LoanFile:2018:06"
  xmlns:loanrisk="urn:com:westbank:ws:business:LoanRisk:2018:06"
  xmlns:loancontract="urn:com:westbank:ws:business:LoanContract:2018:06"
  xmlns:taskdispatch="urn:com:westbank:ws:business:TaskDispatch:2018:06"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://docs.oasis-open.org/wsbpel/2.0/plnktype 
      http://docs.oasis-open.org/wsbpel/2.0/OS/plnktype/ws-bpel_plnktype.xsd
      http://docs.oasis-open.org/wsbpel/2.0/varprop
      http://docs.oasis-open.org/wsbpel/2.0/OS/varprop/ws-bpel_varprop.xsd">

  <ws:types>
    <xsd:schema
      targetNamespace="urn:com:westbank:ws:process:LoanApproval:2018:06"
      xmlns="urn:com:westbank:ws:process:LoanApproval:2018:06"
      elementFormDefault="qualified">

      <xsd:element name="LoanApprovalRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="borrowerCustomerId" type="xsd:long" />
            <xsd:element name="borrowerTitle" type="xsd:string" />
            <xsd:element name="borrowerFirstName" type="xsd:string" />
            <xsd:element name="borrowerLastName" type="xsd:string" />
            <xsd:element name="borrowerPersonalId" type="xsd:string" />
            <xsd:element name="borrowerDateOfBirth" type="xsd:date" />
            <xsd:element name="borrowerAddress" type="AddressType" />
            <xsd:element name="borrowerPhone" type="xsd:string" />
            <xsd:element name="borrowerMobilePhone" type="xsd:string" />
            <xsd:element name="borrowerEmail" type="xsd:string" />
            <xsd:element name="borrowerOccupation" type="xsd:string" />
            <xsd:element name="borrowerLengthOfService" type="xsd:int" />
            <xsd:element name="borrowerIncome" type="xsd:double" />
            <xsd:element name="borrowerMaritalStatus" type="xsd:string"  />
            <xsd:element name="borrowerNumberOfChildren" type="xsd:int"  default="0" />
            <xsd:element name="coBorrower" type="xsd:boolean"  default="false" />
            <xsd:element name="coBorrowerCustomerId" type="xsd:long" />
            <xsd:element name="coBorrowerTitle" type="xsd:string" />
            <xsd:element name="coBorrowerFirstName" type="xsd:string"  />
            <xsd:element name="coBorrowerLastName" type="xsd:string" />
            <xsd:element name="coBorrowerDateOfBirth" type="xsd:date" />
            <xsd:element name="coBorrowerEmail" type="xsd:string" />
            <xsd:element name="coBorrowerPersonalId" type="xsd:string" />
            <xsd:element name="coBorrowerOccupation" type="xsd:string" />
            <xsd:element name="coBorrowerLengthOfService" type="xsd:int" />
            <xsd:element name="coBorrowerIncome" type="xsd:double" />

            <xsd:element name="loanFileId" type="xsd:string" />
            <xsd:element name="loanReason" type="xsd:string" />
            <xsd:element name="loanAmount" type="xsd:double" />
            <xsd:element name="loanTerm" type="xsd:int" />
            <xsd:element name="interestRate" type="xsd:double" />
            <xsd:element name="residenceType" type="xsd:string" />
            <xsd:element name="estateType" type="xsd:string" />
            <xsd:element name="estateLocation" type="xsd:string" />
            <xsd:element name="settlementDate" type="xsd:date" />
            <xsd:element name="totalPurchasePrice" type="xsd:double" />
            <xsd:element name="personalCapitalContribution" type="xsd:double" />
            
            <xsd:element name="accessSensitiveData" type="xsd:boolean"  default="false" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="AddressType">
        <xsd:sequence>
          <xsd:element name="street" type="xsd:string" />
          <xsd:element name="zipcode" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="country" type="xsd:string" />        
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="CustomerDecision" >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accepted" type="xsd:boolean" />
            <xsd:element name="customerId" type="xsd:long" />
            <xsd:element name="contractId" type="xsd:string" />
            <xsd:element name="loanFileId" type="xsd:string" />
            <xsd:element name="token" type="TokenType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ManagerSignature" >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="staffId" type="xsd:string" />
            <xsd:element name="contractId" type="xsd:string" />
            <xsd:element name="loanFileId" type="xsd:string" />
            <xsd:element name="token" type="TokenType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="TokenType">
        <xsd:sequence>
          <xsd:element name="serialNumber" type="xsd:string" />
          <xsd:element name="X509SubjectName" type="xsd:string" />
          <xsd:element name="X509Certificate" type="xsd:base64Binary" />
          <xsd:element name="X509IssuerSerial" type="xsd:string" />
          <xsd:element name="validityFrom" type="xsd:date" />
          <xsd:element name="validityUntil" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="StaffIdentity">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="staffId" type="xsd:string"/>
            <xsd:element name="staffRole" type="xsd:string"/>                       
            <xsd:element name="loanFileId" type="xsd:string"/>
            <xsd:element name="secureToken" type="xsd:base64Binary" />                       
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ManagerDecision">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="granted" type="xsd:boolean"/>
            <xsd:element name="loanFileId" type="xsd:string"/>
            <xsd:element name="staffId" type="xsd:string"/>
            <xsd:element name="staffRole" type="xsd:string"/>                       
            <xsd:element name="secureToken" type="xsd:base64Binary" />                       
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </ws:types>

  <ws:message name="LoanApprovalRequest">
    <ws:part name="request" element="tns:LoanApprovalRequest" />
  </ws:message>

  <ws:message name="StaffIdentity">
    <ws:part name="request" element="tns:StaffIdentity" />
  </ws:message>
  
  <ws:message name="CustomerDecision">
    <ws:part name="request" element="tns:CustomerDecision" />
  </ws:message>

  <ws:message name="ManagerSignature">
    <ws:part name="request" element="tns:ManagerSignature" />
  </ws:message>

  <ws:message name="ManagerDecision">
    <ws:part name="request" element="tns:ManagerDecision" />
  </ws:message>

  <!-- Invoked by customers -->
  <ws:portType name="LoanApproval">
    <ws:operation name="start">
      <ws:input message="tns:LoanApprovalRequest" />
    </ws:operation>
    <ws:operation name="processedByStaff">
      <ws:input message="tns:StaffIdentity" />      
    </ws:operation>
    <ws:operation name="informedByCustomer">
      <ws:input message="tns:CustomerDecision" />      
    </ws:operation>
    <ws:operation name="decidedByManager">
      <ws:input message="tns:ManagerDecision" />      
    </ws:operation>
    <ws:operation name="signedByManager">
      <ws:input message="tns:ManagerSignature" />      
    </ws:operation>
  </ws:portType>

  <!-- Binding and service parts are necessary for Apache ODE -->
  <ws:binding name="LoanApprovalSOAP" type="tns:LoanApproval">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <ws:operation name="start">
      <soap:operation soapAction="" style="document" />
      <ws:input>
        <soap:body use="literal" />
      </ws:input>
    </ws:operation>
    <ws:operation name="processedByStaff">
      <soap:operation soapAction="" style="document" />
      <ws:input>
        <soap:body use="literal" />
      </ws:input>
    </ws:operation>
    <ws:operation name="decidedByManager">
      <soap:operation soapAction="" style="document" />
      <ws:input>
        <soap:body use="literal" />
      </ws:input>
    </ws:operation>
    <ws:operation name="informedByCustomer">
      <soap:operation soapAction="" style="document" />
      <ws:input>
        <soap:body use="literal" />
      </ws:input>
    </ws:operation>
    <ws:operation name="signedByManager">
      <soap:operation soapAction="" style="document" />
      <ws:input>
        <soap:body use="literal" />
      </ws:input>
    </ws:operation>
  </ws:binding>

  <ws:service name="LoanApproval">
    <ws:port name="LoanApprovalPort" binding="tns:LoanApprovalSOAP">
      <soap:address location="http://localhost:8080/ode/processes/LoanApproval" />
    </ws:port>
  </ws:service>
     
</ws:definitions>


