src/main/webapp/WEB-INF/wsdl/LoanContract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LoanContract"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:com:westbank:ws:business:LoanContract:2018:06"
	targetNamespace="urn:com:westbank:ws:business:LoanContract:2018:06">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:com:westbank:ws:business:LoanContract:2018:06"
			xmlns="urn:com:westbank:ws:business:LoanContract:2018:06"
			elementFormDefault="qualified">

			<xsd:element name="LoanContractRequest">
				<xsd:complexType>
					<xsd:sequence>
            <xsd:element name="loanFileId" type="xsd:string" />
            <xsd:element name="monthlyPayment" type="xsd:double" />
            <xsd:element name="staffId" type="xsd:string" />
            <xsd:element name="staffRole" type="xsd:string" />                       
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="LoanContractResponse">
				<xsd:complexType>
					<xsd:sequence>
            <xsd:element name="loanContractId" type="xsd:string" />
            <xsd:element name="borrowerCustomerId" type="xsd:long" />
            <xsd:element name="borrowerTitle" type="xsd:string" />
            <xsd:element name="borrowerFirstName" type="xsd:string" />
            <xsd:element name="borrowerLastName" type="xsd:string" />
            <xsd:element name="borrowerDateOfBirth" type="xsd:date" />            
            <xsd:element name="borrowerAddress" type="Address" />
            <xsd:element name="coBorrower" type="xsd:boolean" />
            <xsd:element name="coBorrowerCustomerId" type="xsd:long" />
            <xsd:element name="coBorrowerTitle" type="xsd:string" />
            <xsd:element name="coBorrowerFirstName" type="xsd:string" />
            <xsd:element name="coBorrowerLastName" type="xsd:string" />
            <xsd:element name="coBorrowerDateOfBirth" type="xsd:date" />           
            <xsd:element name="loanReason" type="xsd:string" />
            <xsd:element name="loanAmount" type="xsd:double" />
            <xsd:element name="loanTerm" type="xsd:int" />
            <xsd:element name="interestRate" type="xsd:double" />
            <xsd:element name="monthlyPayment" type="xsd:double" />
            <xsd:element name="settlementDate" type="xsd:date" />
            <xsd:element name="residenceType" type="xsd:string" />
            <xsd:element name="estateType" type="xsd:string" />
            <xsd:element name="estateLocation" type="xsd:string" />
            <xsd:element name="bankName" type="xsd:string" />
            <xsd:element name="agencyCode" type="xsd:string" />
            <xsd:element name="agencyAddress" type="Address" />
			   </xsd:sequence>
   			</xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element name="street" type="xsd:string" />
          <xsd:element name="zipcode" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="country" type="xsd:string" />        
        </xsd:sequence>
      </xsd:complexType>
         
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="LoanContractRequest">
		<wsdl:part element="tns:LoanContractRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="LoanContractResponse">
		<wsdl:part element="tns:LoanContractResponse" name="response" />
	</wsdl:message>

	<wsdl:portType name="LoanContract">
		<wsdl:operation name="create">
			<wsdl:input message="tns:LoanContractRequest" />
			<wsdl:output message="tns:LoanContractResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="LoanContractSOAP" type="tns:LoanContract">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="create">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="LoanContract">
		<wsdl:port binding="tns:LoanContractSOAP" name="LoanContractPort">
			<soap:address location="http://localhost:9999/portal/services/LoanContract" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>