src/main/webapp/WEB-INF/wsdl/TaskDispatch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TaskDispatch"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:westbank:ws:business:TaskDispatch:2009:11"
	targetNamespace="urn:westbank:ws:business:TaskDispatch:2009:11">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:westbank:ws:business:TaskDispatch:2009:11"
						xmlns="urn:westbank:ws:business:TaskDispatch:2009:11"
						elementFormDefault="qualified">
						
			<xsd:element name="TaskDispatchRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="loanAmount" type="xsd:double"/>						
            <xsd:element name="staffId" type="xsd:string" />
            <xsd:element name="staffRole" type="xsd:string" />                       
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="TaskDispatchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="role" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="TaskDispatchRequest">
		<wsdl:part element="tns:TaskDispatchRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="TaskDispatchResponse">
		<wsdl:part element="tns:TaskDispatchResponse" name="response" />
	</wsdl:message>

	<wsdl:portType name="TaskDispatch">
		<wsdl:operation name="dispatch">
			<wsdl:input message="tns:TaskDispatchRequest" />
			<wsdl:output message="tns:TaskDispatchResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TaskDispatchSOAP" type="tns:TaskDispatch">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="dispatch">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TaskDispatch">
		<wsdl:port binding="tns:TaskDispatchSOAP" name="TaskDispatchPort">
			<soap:address location="http://localhost:9999/portal/services/TaskDispatch" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>